{% extends "navbar.html" %}
{% block title %}About - Click & Buy{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h1>About</h1>
            <p>Welcome to Click & Buy, your premier online destination for property professionals. 
                Our platform is designed to empower real estate experts like you to effortlessly connect buyers with their dream properties. 
                Whether you specialize in urban apartments or rural estates, Click & Buy provides the tools and technology to streamline your 
                property listings and enhance your clients' search experiences. Join us in revolutionizing the real estate industry by offering 
                a seamless, user-friendly platform to your clients and helping them find their perfect homes.</p>
    </div>    
</div>
<div class="card">
    <div class="card-body">
    <h2 class="mb-4">Credits</h2>
    <p>We have used the following plugins in Click & Buy</p>
    <div class="row">
        <div class="col-12 col-md-6">
            <ul class="list-unstyled">
                <li>Bootstrap <a href="https://getbootstrap.com/" target="_blank">https://getbootstrap.com/</a></li>
                <li>Flag icons <a href="http://lipis.github.io/flag-icon-css/" target="_blank">http://lipis.github.io/flag-icon-css/</a></li>
                <li>JQuery <a href="https://jquery.com/" target="_blank">https://jquery.com/</a></li>
                <li>Material Design Icons <a href="https://materialdesignicons.com/" target="_blank">https://materialdesignicons.com/</a></li>
                <li>Owl carousel <a href="https://owlcarousel2.github.io/OwlCarousel2/docs/started-welcome.html" target="_blank">https://owlcarousel2.github.io/OwlCarousel2/docs/started-welcome.html</a></li>
            </ul>
        </div>
        <div class="col-12 col-md-6">
            <ul class="list-unstyled">
                <li>PWS Tabs <a href="https://alexchizhov.com/pwstabs/" target="_blank">https://alexchizhov.com/pwstabs/</a></li>
                <li>Select 2 <a href="https://select2.org/" target="_blank">https://select2.org/</a></li>    
                <li>TWBS pagination <a href="https://esimakin.github.io/twbs-pagination/" target="_blank">https://esimakin.github.io/twbs-pagination/</a></li>
                <li>Typeahead <a href="https://twitter.github.io/typeahead.js/" target="_blank">https://twitter.github.io/typeahead.js/</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <p>Distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a></p>
            <p>Template by <a href="https://www.bootstrapdash.com/?ref=50" target="_blank">Bootstrap Dash</a></p>
            <p>Deigned by JHDigitalCreations | 2023</p>
        </div>
    </div>
    </div>
</div>
{% endblock %}