{% extends "navbar.html" %}
{% block title %}Add Property - Click & Buy{% endblock %}

{% block headers %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>Property Details</h1>
                <form id="propertyForm" method="post" action="{{ url_for('add_property') }}">
                    <div class="form-group">
                        <label for="street_number">Street Number</label>
                        <input type="text" class="form-control" id="street_number" name="street_number">
                    </div>
                    <div class="form-group">
                        <label for="street_name">Street Name</label>
                        <input type="text" class="form-control" id="street_name" name="street_name">
                    </div>
                    <div class="form-group">
                        <label for="complex_number">Complex Number</label>
                        <input type="text" class="form-control" id="complex_number" name="complex_number">
                    </div>
                    <div class="form-group">
                        <label for="complex_name">Complex Name</label>
                        <input type="text" class="form-control" id="complex_name" name="complex_name">
                    </div>
                    <div class="form-group">
                        <label for="area">Area</label>
                        <select class="form-control" id="area" name="area">
                            <option value="Baillie Park">Baillie Park</option>
                            <option value="Bult">Bult</option>
                            <option value="Central">Central</option>
                            <option value="Dam">Dam</option>
                            <option value="Dassierand">Dassierand</option>
                            <option value="Grimbeek Park">Grimbeek Park</option>
                            <option value="Heilige akker">Heilige akker</option>
                            <option value="de Land">de Land</option>
                            <option value="Industrial">Industrial</option>
                            <option value="Kannonierspark">Kannonierspark</option>
                            <option value="Lekwena">Lekwena</option>
                            <option value="Lifestyle">Lifestyle</option>
                            <option value="Miederpark">Miederpark</option>
                            <option value="Mohadin">Mohadin</option>
                            <option value="Mooivallei Park">Mooivallei Park</option>
                            <option value="Oewersig">Oewersig</option>
                            <option value="Promosa">Promosa</option>
                            <option value="Rural">Rural</option>
                            <option value="Tuscany Ridge">Tuscany Ridge</option>
                            <option value="Van der Hoff Park">Van der Hoff Park</option>
                            <option value="Wilgeboom">Wilgeboom</option>
                        </select>
                    </div>                  
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="text" class="form-control" id="price" name="price">
                    </div>
                    <div class="form-group">
                        <label for="bedrooms">Bedrooms</label>
                        <input type="number" class="form-control" id="bedrooms" name="bedrooms">
                    </div>
                    <div class="form-group">
                        <label for="bathrooms">Bathrooms</label>
                        <input type="number" class="form-control" id="bathrooms" name="bathrooms">
                    </div>
                    <div class="form-group">
                        <label for="garages">Garages</label>
                        <input type="number" class="form-control" id="garages" name="garages">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="swimming_pool" name="swimming_pool">
                        <label class="form-check-label" for="swimming_pool">Swimming Pool</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="garden_flat" name="garden_flat">
                        <label class="form-check-label" for="garden_flat">Garden Flat</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="study" name="study">
                        <label class="form-check-label" for="study">Study</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="ground_floor" name="ground_floor">
                        <label class="form-check-label" for="ground_floor">Ground Floor</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="pet_friendly" name="pet_friendly">
                        <label class="form-check-label" for="pet_friendly">Pet Friendly</label>
                    </div>
                    <button type="submit" id="saveButton" class="btn btn-success" method="post">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block additional_scripts %}
<script>
    // Clear form fields when the page is loaded
    $(document).ready(function () {
        $('#propertyForm').trigger('reset');
    });
</script>
{% endblock %}