{% extends "navbar.html" %}
{% block title %}Dashboard - Click & Buy{% endblock %}

{% block headers %}
<style> #filter-form {display: none;}</style>
<link rel="stylesheet" href="./static/assets/vendors/select2/select2.min.css">
<style>
  .expandable-column {
      display: none;
  }
  .table-responsive {
        overflow-x: auto; /* Enable horizontal scrolling */
    }
    .table {
        min-width: 100%; /* Table will take up at least the width of the container */
    }

</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- static\assets\vendors\autoNumeric-4.9.0\autoNumeric-4.9.0\src\AutoNumeric.js -->
{% endblock %}


{% block navbar_content %}
<ul class="navbar-nav navbar-nav-right">
    <li class="nav-item dropdown d-none d-lg-block">
      <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" href="#"
      >More Options</a>            
      <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="createbuttonDropdown">
        <h6 class="p-3 mb-0">Projects</h6>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item preview-item">
          <div class="preview-thumbnail">
            <div class="preview-icon bg-dark rounded-circle">
              <i class="mdi mdi-file-outline text-primary"></i>
            </div>
          </div>
          <div class="preview-item-content">
            <p class="preview-subject ellipsis mb-1">Update Table</p>
          </div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item preview-item">
          <div class="preview-thumbnail">
            <div class="preview-icon bg-dark rounded-circle">
              <i class="mdi mdi-web text-info"></i>
            </div>
          </div>
          <div class="preview-item-content">
            <p class="preview-subject ellipsis mb-1">Export Table</p>
          </div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item preview-item">
          <div class="preview-thumbnail">
            <div class="preview-icon bg-dark rounded-circle">
              <i class="mdi mdi-layers text-danger"></i>
            </div>
          </div>
          <div class="preview-item-content">
            <p class="preview-subject ellipsis mb-1">Report an Issue</p>
          </div>
        </a>
      </div>
    </li>

    <!-- Admin Options -->    
    <li class="nav-item dropdown d-none d-lg-block">
      <a class="nav-link btn btn-primary create-new-button" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" href="#"
      >Admin Options</a>            
      <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="createbuttonDropdown">
        <h6 class="p-3 mb-0">Admin Options</h6>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item preview-item" href="admin_users">
          <div class="preview-thumbnail">
            <div class="preview-icon bg-dark rounded-circle">
              <i class="mdi mdi-account text-primary"></i>
            </div>
          </div>
          <div class="preview-item-content">
            <p class="preview-subject ellipsis mb-1">Update Users</p>
          </div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item preview-item">
          <div class="preview-thumbnail">
            <div class="preview-icon bg-dark rounded-circle">
              <i class="mdi mdi-web text-info"></i>
            </div>
          </div>
          <div class="preview-item-content">
            <p class="preview-subject ellipsis mb-1">Export Table</p>
          </div>
        </a>
      </div>  
    </li>
  </ul>
{% endblock %}  

{% block content %}
    <div class="row ">
      <div class="col-12 grid-margin">
        <div class="col-12 grid-margin">
          <!-- Property Filters Card -->
        <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-start mb-3">
                <div>
                  <h4 class="card-title">Filter Properties</h4>
                </div>
                <div class="text-right col-md-6 col-sl-3">
                  <button type="button" class="btn btn-success align-self-center" id="toggleFilters" >Show Filters</button>
                  <input type="submit" class="btn btn-primary align-self-center" value="Filter" form="filter-form">
                  <button class="btn btn-danger" id="reset-filters" onclick="resetFilters()">Reset Filters</button>
                </div>
              </div>                                      
              <form class="form-sample" id="filter-form" method="post" onsubmit="console.log">
                <h4 class="card-description"> Adress/Location Filters </h4>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Street Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" name="street_name_filter" value="{{ street_name_filter }}" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Complex Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" name="complex_name_filter" value="{{ complex_name_filter }}" />
                      </div>
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Property Type</label>
                      <div class="col-sm-9">
                        <select class="form-control" name="prop_type_filter">
                          <option>Any</option>
                          <option>Full Title</option>
                          <option>Sectonal Scheme</option>
                          <option>Farms</option>
                          <option>Stands</option>
                        </select>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Unit / Street Number</label>
                      <div class="col-sm-9">
                        <input class="form-control" name="number_filter" value="{{ number_filter }}"/>
                      </div>
                    </div>
                  </div>                          
                </div>

                
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Category</label>
                      <div class="col-sm-9">
                        <select class="form-control">
                          <option>Any</option>
                          <option>Apartment</option>
                          <option>Townhouse</option>
                          <option>Detached</option>
                          <!-- <option></option> -->
                        </select>
                      </div>
                    </div>
                  </div>

                  
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Area</label>
                      <div class="col-sm-9">
                        <select class="js-example-basic-multiple" multiple="multiple" style="width:100%" name="area_filter">
                          <option>Any</option>
                          <option>Baillie Park</option>
                          <option>Bult</option>
                          <option>Central</option>
                          <option>Dam</option>
                          <option>Dassierand</option>
                          <option>Grimbeek Park</option>
                          <option>Heilige akker</option>
                          <option>de Land</option>
                          <option>Industrial</option>
                          <option>Kannonierspark</option>
                          <option>Lekwena</option>
                          <option>Lifestyle</option>
                          <option>Miederpark</option>
                          <option>Mohadin</option>
                          <option>Mooivallei Park</option>
                          <option>Oewersig</option>
                          <option>Promosa</option>
                          <option>Rural</option>
                          <option>Tuscany Ridge</option>
                          <option>Van der Hoff Park</option>
                          <option>Wilgeboom</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

                <br>

                <!-- Whole new section -->
                <h4 class="card-description"> Attribute Filters </h4>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Price Maximum</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="" id="max_price_filter" name="max_price_filter" value="{{ max_price_filter }}">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Bedrooms</label>
                      <div class="col-sm-9">
                        <select class="form-control" name="bedroom_filter">
                          <option value="">Any</option>
                          <option value="1" {% if bedroom_filter == '1' %}selected{% endif %}>1</option>
                          <option value="2" {% if bedroom_filter == '2' %}selected{% endif %}>2</option>
                          <option value="2+" {% if bedroom_filter == '2+' %}selected{% endif %}>2+</option>
                          <option value="3" {% if bedroom_filter == '3' %}selected{% endif %}>3</option>
                          <option value="3+" {% if bedroom_filter == '3+' %}selected{% endif %}>3+</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Price Minimum</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="" id="min_price_filter" name="min_price_filter" value="{{ min_price_filter }}">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Bathrooms</label>
                      <div class="col-sm-9">
                        <select class="form-control" name="bathroom_filter">
                          <option value="">Any</option>
                          <option value="1" {% if bathroom_filter == '1' %}selected{% endif %}>1</option>
                          <option value="2" {% if bathroom_filter == '2' %}selected{% endif %}>2</option>
                          <option value="2+" {% if bathroom_filter == '2+' %}selected{% endif %}>2+</option>
                          <option value="3" {% if bathroom_filter == '3' %}selected{% endif %}>3</option>
                          <option value="3+" {% if bathroom_filter == '3+' %}selected{% endif %}>3+</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">City</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Garages</label>
                      <div class="col-sm-9">
                        <select class="form-control" name="garages_filter">
                          <option value="">Any</option>
                          <option value="1" {% if garages_filter == '1' %}selected{% endif %}>1</option>
                          <option value="2" {% if garages_filter == '2' %}selected{% endif %}>2</option>
                          <option value="2+" {% if garages_filter == '2+' %}selected{% endif %}>2+</option>
                          <option value="3" {% if garages_filter == '3' %}selected{% endif %}>3</option>
                          <option value="3+" {% if garages_filter == '3+' %}selected{% endif %}>3+</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-stretch">
                  <div class="form-group row justify-content-start align-items-center">
                    <label class="col-sm-3 col-form-label">Others</label>
                    <div class="col-sm-9">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-check d-flex justify-content-start">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" name="swimming_pool_filter" id="swimming_pool_filter" {% if swimming_pool_filter %}checked{% endif %}>Swimming Pool
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-check d-flex justify-content-start">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" name="garden_flat_filter" id="garden_flat_filter" {% if garden_flat_filter %}checked{% endif %}>Garden Flat
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-check d-flex justify-content-start">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" name="study_filter" id="study_filter" {% if study_filter %}checked{% endif %} >Study
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-check d-flex justify-content-start">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" name="ground_floor_filter" id="ground_floor_filter" {% if ground_floor_filter %}checked{% endif %}>Ground Floor
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-check d-flex justify-content-start">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" name="pet_friendly_filter" id="pet_friendly_filter" {% if pet_friendly_filter %}checked{% endif %}>Pet-Friendly
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="text-center">
                  <button type="button" class="btn btn-success" id="toggleFilters1">Hide Filters</button>
                  <input type="submit" class="btn btn-primary" value="Filter" form="filter-form">
                  <button class="btn btn-danger" id="reset-filters" onclick="resetFilters()">Reset Filters</button>
                </div>                    
              </form>
            </div>
        </div>
        <br>
        <!-- Result Table -->          
        <div class="card table-container">
          <div class="card-body">
            <h4 class="card-title">Properties For Sale</h4>
            <button id="expand-toggle-btn" class="btn btn-primary">Expand/Collapse</button>

            <div class="table-responsive table-responsive-sm .table-responsive-md table-responsive-lg table-responsive-xl">
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      <div class="form-check form-check-muted m-0">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input">
                        </label>
                      </div>
                    </th>
                    <!-- Collapsed Headers -->
                    <th> Property Description </th>
                    <th> Area </th>
                    <th> Price </th>
                    <th> Bedrooms </th>
                    <th> Bathrooms </th>
                    <th> Garages </th>
                    <th> P-24 Link </th>

                    <!-- Expanded Headers -->
                    <th class="expandable-column"> Swimming Pool </th>
                    <th class="expandable-column"> Garden Flat </th>
                    <th class="expandable-column"> Study </th>
                    <th class="expandable-column"> Ground Floor </th>
                    <th class="expandable-column"> Pet Friendly </th>
                  </tr>
                </thead>
                <tbody>
                  {% for property in properties %}
                  <tr>
                    <td>
                      <div class="form-check form-check-muted m-0">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input">
                        </label>
                      </div>
                    </td>
                    <td>{{ property.street_number or '' }} {{ property.street_name or ''}} {{ property.complex_number or '' }} {{ property.complex_name or '' }}</td>
                    <td>{{ property.area or '' }}</td>
                    <td>{{ property.price | format_currency or '-' }}</td>
                    <td>{{ property.bedrooms or '-' }}</td>
                    <td>{{ property.bathrooms or '-' }}</td>
                    <td>{{ property.garages or '-' }}</td>
                    <td>
                      <a class="btn btn-primary" href="{{ property.link }}" target="_blank">{{ property.link_display }}</a>
                    </td>
                    <!-- Expanded columns -->
                  <td class="expandable-column">{{ property.swimming_pool }}</td>
                  <td class="expandable-column">{{ property.garden_flat }}</td>
                  <td class="expandable-column">{{ property.study }}</td>
                  <td class="expandable-column">{{ property.ground_floor }}</td>
                  <td class="expandable-column">{{ property.pet_friendly }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <br>
              <!-- Page Navigation -->
              <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if properties.has_prev %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('dashboard', page=properties.prev_num) }}">Previous</a>
                    </li>
                    {% endif %}
                    
                    {% for num in properties.iter_pages() %}
                    <li class="page-item {% if properties.page == num %}active{% endif %}">
                        <a class="page-link" href="{{ url_for('dashboard', page=num) }}">{{ num }}</a>
                    </li>
                    {% endfor %}
                    
                    {% if properties.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('dashboard', page=properties.next_num) }}">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
              <!-- table ends here -->
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer -->
  <!-- partial -->
    </div>
<!-- main-panel ends -->
{% endblock %}

{% block additional_scripts %}
<script src="./static/assets/vendors/select2/select2.min.js"></script>
<script src="./static/assets/js/select2.js"></script>
<script src="./static/assets/js/AutoNumeric.min.js"></script>
<script>
  $(document).ready(function() {
    // Initialize the Select2 dropdown
    $('.js-example-basic-multiple').select2();
    
    // Get the selected areas from the Flask variable
    var selectedAreas = {{ selected_areas | tojson }};
    
    // Set the selected areas in the dropdown
    $('.js-example-basic-multiple').val(selectedAreas);
    $('.js-example-basic-multiple').trigger('change'); // Refresh the dropdown to display selected values
  });
  </script> 
<script>
    $(document).ready(function() {
      $("#toggleFilters, #toggleFilters1").click(function() {
        $("#filter-form").toggle(); // Toggle the visibility of the filters section
  
        var isVisible = $("#filter-form").is(":visible"); // Check if the form is visible
        var buttonText = isVisible ? "Hide Filters" : "Show Filters"; // Set the button text based on visibility
  
        $("#toggleFilters, #toggleFilters1").text(buttonText); // Update the button text for both buttons
      });
    });
  </script>
<Script>
  function resetFilters() {
    console.log("Reset button clicked");
    document.querySelector("[name='street_name_filter']").value = "";
    document.querySelector("[name='complex_name_filter']").value = "";
    document.querySelector("[name='number_filter']").value = "";
    document.querySelector("[name='area_filter']").value = "";
    document.querySelector("[name='max_price_filter']").value = "";
    document.querySelector("[name='bedroom_filter']").value = "";
    document.querySelector("[name='min_price_filter']").value = "";
    document.querySelector("[name='bathroom_filter']").value = "";
    document.querySelector("[name='garages_filter']").value = "";
    document.getElementById('study_filter').checked = false;
    document.getElementById('swimming_pool_filter').checked = false;
    document.getElementById('ground_floor_filter').checked = false;
    document.getElementById('garden_flat_filter').checked = false;
    document.getElementById('pet_friendly_filter').checked = false
      // Submit the form to clear the filters
    document.getElementById("filter-form").submit();
  }
</Script>
<!-- Script for handling AutoNumeric and form submission -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
      // Initialize AutoNumeric with custom options
      new AutoNumeric('#min_price_filter', {
          currencySymbol: 'R ',
          currencySymbolPlacement: AutoNumeric.options.currencySymbolPlacement.prefix,
          decimalPlaces: 0,
          unformatOnSubmit: true // Convert formatted value back to raw numeric value before submission
      });

      new AutoNumeric('#max_price_filter', {
          currencySymbol: 'R ',
          currencySymbolPlacement: AutoNumeric.options.currencySymbolPlacement.prefix,
          decimalPlaces: 0,
          unformatOnSubmit: true // Convert formatted value back to raw numeric value before submission
      });

      // Add event listener for form submission
      document.getElementById('filter-form').addEventListener('submit', function(event) {
          const minPriceInput = document.getElementById('min_price_filter');
          const maxPriceInput = document.getElementById('max_price_filter');

          // If min price is greater than max price, prevent form submission
          if (minPriceInput.value !== '' && maxPriceInput.value !== '' && Number(minPriceInput.value) > Number(maxPriceInput.value)) {
              event.preventDefault();
              alert('Min price cannot be greater than max price.');
          }
      });
      
      // Add event listener for reset button
      document.getElementById('reset-filters').addEventListener('click', function() {
          minPriceInput.remove(); // Remove AutoNumeric formatting from min price input
          maxPriceInput.remove(); // Remove AutoNumeric formatting from max price input
          minPriceInput.value = ''; // Clear min price input
          maxPriceInput.value = ''; // Clear max price input
      });      
  });
</script>
    <!-- endinject -->
  <!-- Custom js for this page -->
  <script src="./static/assets/js/dashboard.js"></script>
  <script>
    $(document).ready(function () {
        $("#expand-toggle-btn").click(function () {
            $(".expandable-column").toggle();
        });
    });
</script>
  
{% endblock %}
