{% extends "navbar.html" %}
{% block title %}Dashboard - Click & Buy{% endblock %}

{% block headers %}
<style> #filter-form {display: none;}</style>
<link rel="stylesheet" href="./static/assets/vendors/select2/select2.min.css">
<style>
  .expandable-column {
      display: none;
  }
  .table-responsive {
        overflow-x: auto; /* Enable horizontal scrolling */
    }
    .table {
        min-width: 100%; /* Table will take up at least the width of the container */
    }

</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- static\assets\vendors\autoNumeric-4.9.0\autoNumeric-4.9.0\src\AutoNumeric.js -->
{% endblock %}


{% block navbar_content %}
<ul class="navbar-nav navbar-nav-right">
    <li class="nav-item dropdown d-none d-lg-block">
      <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" href="#"
      >More Options</a>            
      <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="createbuttonDropdown">
        <h6 class="p-3 mb-0">Projects</h6>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item preview-item">
          <div class="preview-thumbnail">
            <div class="preview-icon bg-dark rounded-circle">
              <i class="mdi mdi-file-outline text-primary"></i>
            </div>
          </div>
          <div class="preview-item-content">
            <p class="preview-subject ellipsis mb-1">Update Table</p>
          </div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item preview-item">
          <div class="preview-thumbnail">
            <div class="preview-icon bg-dark rounded-circle">
              <i class="mdi mdi-web text-info"></i>
            </div>
          </div>
          <div class="preview-item-content">
            <p class="preview-subject ellipsis mb-1">Export Table</p>
          </div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item preview-item">
          <div class="preview-thumbnail">
            <div class="preview-icon bg-dark rounded-circle">
              <i class="mdi mdi-layers text-danger"></i>
            </div>
          </div>
          <div class="preview-item-content">
            <p class="preview-subject ellipsis mb-1">Report an Issue</p>
          </div>
        </a>
      </div>
    </li>

    <!-- Admin Options -->    
    <li class="nav-item dropdown d-none d-lg-block">
      <a class="nav-link btn btn-primary create-new-button" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" href="#"
      >Admin Options</a>            
      <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="createbuttonDropdown">
        <h6 class="p-3 mb-0">Admin Options</h6>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item preview-item" href="admin_users">
          <div class="preview-thumbnail">
            <div class="preview-icon bg-dark rounded-circle">
              <i class="mdi mdi-account text-primary"></i>
            </div>
          </div>
          <div class="preview-item-content">
            <p class="preview-subject ellipsis mb-1">Update Users</p>
          </div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item preview-item">
          <div class="preview-thumbnail">
            <div class="preview-icon bg-dark rounded-circle">
              <i class="mdi mdi-web text-info"></i>
            </div>
          </div>
          <div class="preview-item-content">
            <p class="preview-subject ellipsis mb-1">Export Table</p>
          </div>
        </a>
      </div>  
    </li>
  </ul>
{% endblock %}  

{% block content %}
    <div class="row ">
      <div class="col-12 grid-margin">
        <div class="col-12 grid-margin">
          <!-- Property Filters Card -->
        <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-start mb-3">
                <div>
                  <h4 class="card-title">Filter Properties</h4>
                </div>
                <div class="text-right col-md-6 col-sl-3">
                  <button type="button" class="btn btn-success align-self-center" id="toggleFilters" >Show Filters</button>
                  <input type="submit" class="btn btn-primary align-self-center" value="Filter" form="filter-form" id="filter-button">
                  <button class="btn btn-danger" id="reset-filters">Reset Filters</button>
                </div>
              </div>                                      
              <form class="form-sample" id="filter-form" name="filter-form" method="post" action="{{ request.path }}">
                <h4 class="card-description"> Adress/Location Filters </h4>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Street Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="street_name_filter" name="street_name_filter" value="{{ street_name_filter or ''}}" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Complex Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="complex_name_filter" name="complex_name_filter" value="{{ complex_name_filter or ''}}" />
                      </div>
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Property Type</label>
                      <div class="col-sm-9">
                        <select class="form-control" id="prop_type_filter" name="prop_type_filter">
                          <option>Any</option>
                          <option>Full Title</option>
                          <option>Sectonal Scheme</option>
                          <option>Farms</option>
                          <option>Stands</option>
                        </select>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Unit / Street Number</label>
                      <div class="col-sm-9">
                        <input class="form-control" id="number_filter" name="number_filter" value="{{ number_filter or ''}}"/>
                      </div>
                    </div>
                  </div>                          
                </div>

                
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Category</label>
                      <div class="col-sm-9">
                        <select class="form-control">
                          <option>Any</option>
                          <option>Apartment</option>
                          <option>Townhouse</option>
                          <option>Detached</option>
                          <!-- <option></option> -->
                        </select>
                      </div>
                    </div>
                  </div>

                  
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Area</label>
                      <div class="col-sm-9">
                        <select class="js-example-basic-multiple" multiple="multiple" style="width:100%" name="area_filter">
                          <option>Any</option>
                          <option>Baillie Park</option>
                          <option>Bult</option>
                          <option>Central</option>
                          <option>Dam</option>
                          <option>Dassierand</option>
                          <option>Grimbeek Park</option>
                          <option>Heilige akker</option>
                          <option>de Land</option>
                          <option>Industrial</option>
                          <option>Kannonierspark</option>
                          <option>Lekwena</option>
                          <option>Lifestyle</option>
                          <option>Miederpark</option>
                          <option>Mohadin</option>
                          <option>Mooivallei Park</option>
                          <option>Oewersig</option>
                          <option>Promosa</option>
                          <option>Rural</option>
                          <option>Tuscany Ridge</option>
                          <option>Van der Hoff Park</option>
                          <option>Wilgeboom</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

                <br>

                <!-- Whole new section -->
                <h4 class="card-description"> Attribute Filters </h4>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Price Maximum</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="" id="max_price_filter" name="max_price_filter" value="{{ max_price_filter }}">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Bedrooms</label>
                      <div class="col-sm-9">
                        <select class="form-control" name="bedroom_filter">
                          <option value="">Any</option>
                          <option value="1" {% if bedroom_filter == '1' %}selected{% endif %}>1</option>
                          <option value="2" {% if bedroom_filter == '2' %}selected{% endif %}>2</option>
                          <option value="2+" {% if bedroom_filter == '2+' %}selected{% endif %}>2+</option>
                          <option value="3" {% if bedroom_filter == '3' %}selected{% endif %}>3</option>
                          <option value="3+" {% if bedroom_filter == '3+' %}selected{% endif %}>3+</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Price Minimum</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="" id="min_price_filter" name="min_price_filter" value="{{ min_price_filter }}">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Bathrooms</label>
                      <div class="col-sm-9">
                        <select class="form-control" name="bathroom_filter">
                          <option value="">Any</option>
                          <option value="1" {% if bathroom_filter == '1' %}selected{% endif %}>1</option>
                          <option value="2" {% if bathroom_filter == '2' %}selected{% endif %}>2</option>
                          <option value="2+" {% if bathroom_filter == '2+' %}selected{% endif %}>2+</option>
                          <option value="3" {% if bathroom_filter == '3' %}selected{% endif %}>3</option>
                          <option value="3+" {% if bathroom_filter == '3+' %}selected{% endif %}>3+</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">City</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Garages</label>
                      <div class="col-sm-9">
                        <select class="form-control" name="garages_filter">
                          <option value="">Any</option>
                          <option value="1" {% if garages_filter == '1' %}selected{% endif %}>1</option>
                          <option value="2" {% if garages_filter == '2' %}selected{% endif %}>2</option>
                          <option value="2+" {% if garages_filter == '2+' %}selected{% endif %}>2+</option>
                          <option value="3" {% if garages_filter == '3' %}selected{% endif %}>3</option>
                          <option value="3+" {% if garages_filter == '3+' %}selected{% endif %}>3+</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-stretch">
                  <div class="form-group row justify-content-start align-items-center">
                    <label class="col-sm-3 col-form-label">Others</label>
                    <div class="col-sm-9">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-check d-flex justify-content-start">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" name="swimming_pool_filter" id="swimming_pool_filter" {% if filters['swimming_pool_filter'] == 'on' %}checked{% endif %}>Swimming Pool
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-check d-flex justify-content-start">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" name="garden_flat_filter" id="garden_flat_filter" value="true" {% if garden_flat_filter %}checked{% endif %}>Garden Flat
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-check d-flex justify-content-start">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" name="study_filter" id="study_filter" {% if study_filter %}checked{% endif %} >Study
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-check d-flex justify-content-start">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" name="ground_floor_filter" id="ground_floor_filter" {% if ground_floor_filter %}checked{% endif %}>Ground Floor
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-check d-flex justify-content-start">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" name="pet_friendly_filter" id="pet_friendly_filter" {% if pet_friendly_filter %}checked{% endif %}>Pet-Friendly
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="text-center">
                  <button type="button" class="btn btn-success" id="toggleFilters1">Hide Filters</button>
                  <input type="submit" class="btn btn-primary" value="Filter" form="filter-form" id="filter-button-hidden">
                  <button class="btn btn-danger" id="reset-filters-hidden">Reset Filters</button>
                </div>                    
              </form>
            </div>
        </div>
        <br>
        <!-- Result Table -->          
        <div class="card table-container">
          <div class="card-body">
            <div class="row justify-content-between">
              <h4 class="card-title">Properties For Sale</h4>
              <button id="expand-toggle-btn" class="btn btn-primary">Expand/Collapse</button>
            </div>
            <br>
            <div class="table-responsive table-responsive-sm .table-responsive-md table-responsive-lg table-responsive-xl">
              <table class="table table-hover" id="properties_table">
                <thead>
                  <tr>
                    <th>
                      <div class="form-check form-check-muted m-0">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input">
                        </label>
                      </div>
                    </th>
                    <!-- Collapsed Headers -->
                    <th><a href="#" class="sort-header" data-column="prop_desc">Property Description<span class="sort-icon"></span></a></th>
                    <th><a href="#" class="sort-header" data-column="area">Area<span class="sort-icon"></span></a></th>
                    <th><a href="#" class="sort-header" data-column="price">Price<span class="sort-icon"></span></a></th>
                    <th><a href="#" class="sort-header" data-column="bedrooms">Bedrooms<span class="sort-icon"></span></a></th>
                    <th><a href="#" class="sort-header" data-column="bathrooms">Bathrooms<span class="sort-icon"></span></a></th>
                    <th><a href="#" class="sort-header" data-column="garages">Garages<span class="sort-icon"></span></a></th>
                    <th><a href="#" class="sort-header" data-column="link">P-24 Link<span class="sort-icon"></span></a></th>

                    <!-- Expanded Headers -->
                    <th class="expandable-column"><a href="#" class="sort-header" data-column="swimming_pool">Swimming Pool<span class="sort-icon"></span></a></th>
                    <th class="expandable-column"><a href="#" class="sort-header" data-column="garden_flat">Garden Flat<span class="sort-icon"></span></a></th>
                    <th class="expandable-column"><a href="#" class="sort-header" data-column="study">Study<span class="sort-icon"></span></a></th>
                    <th class="expandable-column"><a href="#" class="sort-header" data-column="ground_floor">Ground Floor<span class="sort-icon"></span></a></th>
                    <th class="expandable-column"><a href="#" class="sort-header" data-column="pet_friendly">Pet Friendly<span class="sort-icon"></span></a></th>
                  </tr>
                </thead>
                <tbody>
                  {% for property in properties %}
                  <tr>
                    <td>
                      <div class="form-check form-check-muted m-0">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input">
                        </label>
                      </div>
                    </td>
                    <td data-column="prop_desc">{{ property.street_number or '' }} {{ property.street_name or ''}} {{ property.complex_number or '' }} {{ property.complex_name or '' }}</td>
                    <td data-column="area">{{ property.area or '' }}</td>
                    <td data-column="price">{{ property.price | format_currency or '-' }}</td>
                    <td data-column="bedrooms">{{ property.bedrooms or '-' }}</td>
                    <td data-column="bathrooms">{{ property.bathrooms or '-' }}</td>
                    <td data-column="garages">{{ property.garages or '-' }}</td>
                    <td>
                      <a class="btn btn-primary" href="{{ property.link }}" target="_blank" data-column="link">{{ property.link_display }}</a>
                    </td>
                    <!-- Expanded columns -->
                  <td class="expandable-column" data-column="swimming_pool">{{ property.swimming_pool }}</td>
                  <td class="expandable-column" data-column="garden_flat">{{ property.garden_flat }}</td>
                  <td class="expandable-column" data-column="study">{{ property.study }}</td>
                  <td class="expandable-column" data-column="ground_floor">{{ property.ground_floor }}</td>
                  <td class="expandable-column" data-column="pet_friendly">{{ property.pet_friendly }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <br>
              <!-- Page Navigation -->
              <!-- table ends here -->
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer -->
  <!-- partial -->
    </div>
<!-- main-panel ends -->
{% endblock %}

{% block additional_scripts %}
<script src="./static/assets/vendors/select2/select2.min.js"></script>
<script src="./static/assets/js/select2.js"></script>
<script src="./static/assets/js/AutoNumeric.min.js"></script>
<script src="./static/assets/js/sort_table.js"></script>
<script>
$(document).ready(function () {
  // Initialize AutoNumeric
  new AutoNumeric('#min_price_filter', {
    currencySymbol: 'R ',
    currencySymbolPlacement: AutoNumeric.options.currencySymbolPlacement.prefix,
    decimalPlaces: 0,
    unformatOnSubmit: true
  });

  new AutoNumeric('#max_price_filter', {
    currencySymbol: 'R ',
    currencySymbolPlacement: AutoNumeric.options.currencySymbolPlacement.prefix,
    decimalPlaces: 0,
    unformatOnSubmit: true
  });

  // Event listener for form submission
  document.getElementById('filter-form').addEventListener('submit', function (event) {
    const minPriceInput = document.getElementById('min_price_filter');
    const maxPriceInput = document.getElementById('max_price_filter');

    if (minPriceInput.value !== '' && maxPriceInput.value !== '' && Number(minPriceInput.value) > Number(maxPriceInput.value)) {
      event.preventDefault();
      alert('Min price cannot be greater than max price.');
    }
  });

  // Event listener for pagination links
  $(document).on('click', '.pagination-link', function (e) {
    e.preventDefault();
    var page = $(this).data('page');
    var formData = new FormData(document.getElementById('filter-form'));
    handlePaginationClick(page, formData);
  });

  // Event listener for the "Filter" button click
  $('#filter-button, #filter-button-hidden').on('click', function (e) {
    e.preventDefault();
    // console.log('Filter button clicked');
    handleFormSubmit();
  });

  // Event listener for the "Reset Filters" button click
  $('#reset-filters, #reset-filters-hidden').on('click', function () {
    resetFilters();
  });

  // Event listener for the "Toggle Filters" button click
  $("#toggleFilters, #toggleFilters1").click(function () {
    $("#filter-form").toggle();
    var isVisible = $("#filter-form").is(":visible");
    var buttonText = isVisible ? "Hide Filters" : "Show Filters";
    $("#toggleFilters, #toggleFilters1").text(buttonText);
  });


  $("#expand-toggle-btn").click(function () {
    $(".expandable-column").toggle();
    $('#properties-table').sort_table();
  });


  {% if request.method == 'POST' %}
    // Only populate the dropdown with selected areas when filters are applied
    var selectedAreas = [
      {% for area in selected_areas %}
        "{{ area }}"{% if not loop.last %},{% endif %}
      {% endfor %}
    ];

    $("#expand-toggle-btn").click(function () {
      $(".expandable-column").toggle();
      $('#properties-table').sort_table();
    });


    // Set the selected areas in the dropdown
    $('.js-example-basic-multiple').val(selectedAreas);
    $('.js-example-basic-multiple').trigger('change'); // Refresh the dropdown to display selected values
    {% endif %}
  // Initialize other code...

  // Initial page load
  var formData = new FormData(document.getElementById('filter-form'));
  handlePaginationClick(1, formData);

  // Attach event listener to form fields
  $('.filter-form input, .filter-form select').on('change', function () {
    updatePaginationLinks();
  });
});

function handlePaginationClick(page, formData) {
  console.log("handlePaginationClick called");
  console.log("Page:", page);
  console.log('Form Data:', formData);
  for (var pair of formData.entries()) {
    console.log(pair[0] + ': ' + pair[1]);
  }

  $.ajax({
    type: 'POST',
    url: '/dashboard',
    data: formData,
    processData: false,
    contentType: false,
    success: function (data) {
      console.log('Pagination HTML:', data.paginationHTML); // Log pagination HTML
      updateProperties(data);
      updatePaginationControls(data.paginationHTML);
    },
    error: function (error) {
      console.error('Error fetching properties:', error);
    }
  });
}

// Function to update properties and pagination
function updateProperties(data) {  
 // Update properties in #properties_table tbody
    // console.log('Updating properties with data:', data);
    var propertiesBody = $('#properties_table tbody');
    propertiesBody.empty();

    for (var i = 0; i < data.properties.length; i++) {
      var property = data.properties[i];
      // console.log("Processing property:", property); // Debug log
      var row = $('<tr>');

      row.append($('<td>').html(
        '<div class="form-check form-check-muted m-0">' +
        '<label class="form-check-label">' +
        '<input type="checkbox" class="form-check-input">' +
        '</label>' +
        '</div>'
      ));
    
      // Property Description
      var propertyDesc = '';
      if (property.street_number) {
          propertyDesc += property.street_number + ' ';
      }
      if (property.street_name) {
          propertyDesc += property.street_name + ' ';
      }
      if (property.complex_number) {
          propertyDesc += property.complex_number + ' ';
      }
      if (property.complex_name) {
          propertyDesc += property.complex_name;
      }
      row.append($('<td>').text(propertyDesc));
      
      // Other columns
      row.append($('<td>').text(property.area));
      // Price column without decimals
      var priceFormatted = 'R ' + numberWithCommas(Math.floor(property.price));
      var priceCell = $('<td>').text(priceFormatted);
      row.append(priceCell);

      propertiesBody.append(row);
      row.append($('<td>').text(property.bedrooms));
      row.append($('<td>').text(property.bathrooms));
      row.append($('<td>').text(property.garages));
      
      // P-24 Link
      var p24Link = $('<a>', {
        class: 'btn btn-primary',
        href: property.link,
        target: '_blank',
        text: property.link_display
      });
      row.append($('<td>').append(p24Link));

      // Expandable columns
      row.append($('<td>').text(property.swimming_pool).addClass('expandable-column'));
      row.append($('<td>').text(property.garden_flat).addClass('expandable-column'));
      row.append($('<td>').text(property.study).addClass('expandable-column'));
      row.append($('<td>').text(property.ground_floor).addClass('expandable-column'));
      row.append($('<td>').text(property.pet_friendly).addClass('expandable-column'));

      propertiesBody.append(row);
    }
  }

function handleFormSubmit() {
      console.log("handleFormSubmit called"); // Debug log
      var formData = new FormData(); // Create a new FormData object
      formData.append('street_name_filter', $('[name="street_name_filter"]').val());
      formData.append('complex_name_filter', $('[name="complex_name_filter"]').val());
      formData.append('max_price_filter', $('[name="max_price_filter"]').val());
      formData.append('number_filter', $('[name="number_filter"]').val());
      formData.append('bedroom_filter', $('[name="bedroom_filter"]').val());
      formData.append('bathroom_filter', $('[name="bathroom_filter"]').val());
      formData.append('garages_filter', $('[name="garages_filter"]').val());

      // Handle checkboxes
      if ($('#study_filter').prop('checked')) {
          formData.append('study_filter', 'true');
      }
      if ($('#swimming_pool_filter').prop('checked')) {
          formData.append('swimming_pool_filter', 'true');
      }
      if ($('#ground_floor_filter').prop('checked')) {
          formData.append('ground_floor_filter', 'true');
      }
      if ($('#garden_flat_filter').prop('checked')) {
          formData.append('garden_flat_filter', 'true');
      }
      if ($('#pet_friendly_filter').prop('checked')) {
          formData.append('pet_friendly_filter', 'true');
      }
      
      handlePaginationClick(1, formData); // Send the form data along with page number
  }  
  
function updatePaginationLinks() {
  var formData = $('.filter-form').serialize();
  console.log('Form Data:', formData);
  
  $('.dynamic-pagination-link').each(function () {
    console.log('Pagination Link:', this);
    var href = $(this).data('page'); // Get the page number from data attribute
    $(this).attr('href', '#' + href + '?' + formData); // Update href attribute
  });
}

function resetFilters() {
    // console.log("Reset button clicked");

    // Reset filter input values
    $('[name="street_name_filter"]').val("");
    $('[name="complex_name_filter"]').val("");
    $('[name="number_filter"]').val("");
    $('[name="area_filter"]').val("");
    $('[name="max_price_filter"]').val("");
    $('[name="bedroom_filter"]').val("");
    $('[name="min_price_filter"]').val("");
    $('[name="bathroom_filter"]').val("");
    $('[name="garages_filter"]').val("");
    $('#study_filter').prop('checked', false);
    $('#swimming_pool_filter').prop('checked', false);
    $('#ground_floor_filter').prop('checked', false);
    $('#garden_flat_filter').prop('checked', false);
    $('#pet_friendly_filter').prop('checked', false);

    // Make an AJAX request to clear filters and update the table
    $.ajax({
        url: '/dashboard',  // Use the /dashboard route for clearing filters
        method: 'POST',
        data: {
            reset_filters: true  // Add this data field to indicate resetting filters
        },
        success: function(data) {
            // Update the table using the data received from the server
            updateProperties(data);

            // Clear the filter form inputs after successful response
            $('#filter-form')[0].reset();
        },
        error: function(error) {
            console.error('Error clearing filters:', error);
        }
    });
  }

function numberWithCommas(number) {
  return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}

function updatePaginationControls(paginationHTML) {
  var paginationControls = $('#pagination-container');
  paginationControls.html(paginationHTML);
  // Add a class to each pagination link
  $('.pagination-link').addClass('dynamic-pagination-link');
}


</script>
<!-- Custom js for this page -->
<script src="./static/assets/js/dashboard.js"></script>

  
{% endblock %}
