{% extends "navbar.html" %}
{% block title %}View Property - Click & Buy{% endblock %}

{% block headers %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
    /* Custom styles for disabled form controls */
    .form-control:disabled {
        color: #333;
        /* Change this color to your desired color */
    }
</style>
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="row col-12 align-items-center">
                <div class="col-md-4 col-sm-12">
                    <h1>Property Details</h1>
                </div>
                <!-----------------------------------------------------------  Edit button --------------------------->
                <div class="col-md-8 col-sm-12">
                    <div class="pt-3 row ml-auto">
                        <div class="p-2" id="editButton">
                            <button type="button" class="btn btn-primary">Edit</button>
                        </div>
                        <div class="p-2" id="cancelButton" style="display: none;">
                            <button type="button" class="btn btn-primary">Cancel
                                Changes</button>
                        </div>
                        <div class="p-2" id="saveButton" style="display: none;">
                            <button type="button" class="btn btn-success">Save
                                Changes</button>
                        </div>
                        <div class="p-2" id="deleteButton" style="display: none;">
                            <button type="submit" class="btn btn-danger"
                                onclick="return confirm('Are you sure you want to delete this property?')">Delete</button>
                        </div>
                        <div class="p-2" id="backButton">
                            <button type="button" class="btn btn-secondary">Back</button>
                        </div>
                        <div class="p-2">
                            <a href="{{ property.link }}" target="_blank"> <button type="button"
                                    class="btn btn-info">Open Link</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 pt-3">

                <form id="propertyForm" method="post"
                    action="{{ url_for('update_property', property_id=property.id) }}">
                    <p><strong>ID:</strong> {{ property.id }}</p>
                    <div class="row">
                        <div class="col-md-9 col-sm-12">
                            <!----------------------------------------------------------- Street Info ----------------------------->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="street_number"><i class="fa-solid fa-location-dot"></i> Street
                                            Number</label>
                                        <input type="text" class="form-control" id="street_number" name="street_number"
                                            value="{{ property.street_number or '' }}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="street_name"><i class="fa-solid fa-road"></i> Street Name</label>

                                        <input type="text" class="form-control" id="street_name" name="street_name"
                                            value="{{ property.street_name or '' }}" disabled>
                                    </div>
                                </div>
                            </div>
                            <!-----------------------------------------------------------  Complex Info ----------------------------->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="complex_number">Complex Number</label>
                                        <input type="text" class="form-control" id="complex_number"
                                            name="complex_number" value="{{ property.complex_number or '' }}" disabled>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="complex_name">Complex Name</label>
                                        <input type="text" class="form-control" id="complex_name" name="complex_name"
                                            value="{{ property.complex_name or '' }}" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- --------------------------- Area & Price ----------------------------->
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                                <label for="area">Area</label>
                                <select class="form-control" id="area" name="area" disabled>
                                    <option value="Baillie Park">Baillie Park</option>
                                    <option value="Bult">Bult</option>
                                    <option value="Central">Central</option>
                                    <option value="Dam">Dam</option>
                                    <option value="Dassierand">Dassierand</option>
                                    <option value="Grimbeek Park">Grimbeek Park</option>
                                    <option value="Heilige akker">Heilige akker</option>
                                    <option value="de Land">de Land</option>
                                    <option value="Industrial">Industrial</option>
                                    <option value="Kannonierspark">Kannonierspark</option>
                                    <option value="Lekwena">Lekwena</option>
                                    <option value="Lifestyle">Lifestyle</option>
                                    <option value="Miederpark">Miederpark</option>
                                    <option value="Mohadin">Mohadin</option>
                                    <option value="Mooivallei Park">Mooivallei Park</option>
                                    <option value="Oewersig">Oewersig</option>
                                    <option value="Promosa">Promosa</option>
                                    <option value="Rural">Rural</option>
                                    <option value="Tuscany Ridge">Tuscany Ridge</option>
                                    <option value="Van der Hoff Park">Van der Hoff Park</option>
                                    <option value="Wilgeboom">Wilgeboom</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="price"><i class="fa fa-coins"></i> Price</label>
                                <input type="text" class="form-control" id="price" name="price"
                                    value="{{ property.price }}" disabled>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <!-- --------------------------- Bed- & Bath-rooms ----------------------------->
                        <div class="col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="bedrooms">Bedrooms</label>
                                        <input type="number" class="form-control" id="bedrooms" name="bedrooms"
                                            value="{{ property.bedrooms }}" disabled>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="bathrooms">Bathrooms</label>
                                        <input type="number" step="0.5" class="form-control" id="bathrooms"
                                            name="bathrooms" value="{{ property.bathrooms }}" disabled>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="garages"><i class="fa fa-car"></i> Garages</label>
                                        <input type="number" class="form-control" id="garages" name="garages"
                                            value="{{ property.garages }}" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="carports">Carports</label>
                                        <input type="number" class="form-control" id="carports" name="carports"
                                            value="{{ property.carports or 0 }}" disabled>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="carports">Erf Size</label>
                                        <input type="text" class="form-control" id="stand_area" name="stand_area"
                                            value="{{ property.stand_area or 0 }}" disabled>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="carports">House Size</label>
                                        <input type="text" class="form-control" id="floor_area" name="floor_area"
                                            value="{{ property.floor_area or 0 }}" disabled>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--------------------------- Property Types & Categories --------------------------->
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                                <label for="prop_type"><i class="fa fa-list"></i> Property Type</label>
                                <select class="form-control" id="prop_type" name="prop_type"
                                    value="{{ property.prop_type or '' }}" disabled>
                                    <option value="Residential" {% if property.prop_type=='Residential' %}selected{%
                                        endif %}>Residential</option>
                                    <option value="Commercial" {% if property.prop_type=='Commercial' %}selected{% endif
                                        %}>Commercial</option>
                                    <option value="Farms" {% if property.prop_type=='Farms' %}selected{% endif %}>
                                        Farms
                                    </option>
                                    <option value="Stands" {% if property.prop_type=='Stands' %}selected{% endif %}>
                                        Stands</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="prop_category"><i class="fa-solid fa-building"></i> Category</label>
                                <select class="form-control" id="prop_category" name="prop_category" disabled>
                                    <option value="Full Title" {% if property.prop_category=='Full Title' %}selected{%
                                        endif %}>Full Title</option>
                                    <option value="Apartment" {% if property.prop_category=='Apartment' %}selected{%
                                        endif %}>Apartment</option>
                                    <option value="Townhouse" {% if property.prop_category=='Townhouse' %}selected{%
                                        endif %}>Townhouse</option>
                                    <option value="Farm" {% if property.prop_category=='Farm' %}selected{% endif %}>
                                        Farm
                                    </option>
                                    <option value="Smallholding" {% if property.prop_category=='Smallholding'
                                        %}selected{% endif %}>Smallholding</option>
                                    <!-- <option></option> -->
                                </select>
                            </div>
                        </div>
                        <!--------------------------- Agent & Link Display --------------------------->
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                                <label for="agent">Agent</label>
                                <input type="text" class="form-control" id="agent" name="agent"
                                    value="{{ property.agent }}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="link_display">Link Display</label>
                                <input type="text" class="form-control" id="link_display" name="link_display"
                                    value="{{ property.link_display }}" disabled>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="link">P-24 Link</label>
                        <input type="text" class="form-control" id="link" name="link" value="{{ property.link }}"
                            disabled>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="swimming_pool"
                                            name="swimming_pool" {% if property.swimming_pool %}checked{% endif %}
                                            disabled>
                                        <label class="form-check-label" for="swimming_pool"> <i
                                                class="fa-solid fa-water-ladder"></i> Swimming Pool</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="garden_flat"
                                            name="garden_flat" {% if property.garden_flat %}checked{% endif %} disabled>
                                        <label class="form-check-label" for="garden_flat">Garden Flat</label>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="study" name="study" {% if
                                            property.study %}checked{% endif %} disabled>
                                        <label class="form-check-label" for="study"><i
                                                class="fa-solid fa-graduation-cap"></i> Study</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="ground_floor"
                                            name="ground_floor" {% if property.ground_floor %}checked{% endif %}
                                            disabled>
                                        <label class="form-check-label" for="ground_floor">Ground Floor</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label for="note">Note</label>
                                <input type="text" class="form-control" id="note" name="note"
                                    value="{{ property.note }}" disabled>
                            </div>
                        </div>
                    </div>

                </form>
                <div class="row pt-3">
                    <form action="{{ url_for('delete_property', property_id=property.id) }}" method="post"
                        id="deleteForm" style="display: none;">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block additional_scripts %}
<script src="{{ url_for('static', filename='assets/js/AutoNumeric.min.js') }}"></script>
<script>
    function goBack() {
        window.history.back();
    }
</script>
<script>
    PriceAutoNumeric = new AutoNumeric('#price', {
        currencySymbol: 'R ',
        currencySymbolPlacement: AutoNumeric.options.currencySymbolPlacement.prefix,
        decimalPlaces: 0,
        unformatOnSubmit: true
    });
    document.addEventListener('DOMContentLoaded', function () {
        console.log("DOM content loaded."); // Debug statement
        const propertyForm = document.getElementById('propertyForm');
        const editButton = document.getElementById('editButton');
        const saveButton = document.getElementById('saveButton');
        const cancelButton = document.getElementById('cancelButton');
        const backButton = document.getElementById('backButton');
        const deleteButton = document.getElementById('deleteButton');
        const areaDropdown = document.getElementById('area');  // Get the area dropdown
        const typeDropdown = document.getElementById('prop_type');
        const categoryDropdown = document.getElementById('prop_category');
        const deleteForm = document.getElementById('deleteForm'); // Get the delete form

        // Store initial values for form fields
        const initialFormValues = {};
        const formElements = propertyForm.elements;
        for (let i = 0; i < formElements.length; i++) {
            initialFormValues[formElements[i].name] = formElements[i].value;
        }

        editButton.addEventListener('click', function () {
            enableFormFields();
        });

        saveButton.addEventListener('click', function () {
            deleteForm.style.display = 'none'; // Hide the delete form when saving changes
            // Format the price value before submission
            const priceInput = document.getElementById('price');
            const formattedPrice = PriceAutoNumeric.getNumber();
            priceInput.value = formattedPrice;

            // Submit the form
            propertyForm.submit();
        });

        cancelButton.addEventListener('click', function () {
            deleteForm.style.display = 'none'; // Hide the delete form when camceling changes
            disableFormFields();
        });

        deleteButton.addEventListener('click', function () {
            deleteForm.submit();
            disableFormFields();
        });

        backButton.addEventListener('click', function () {
            goBack();
        });


        propertyForm.addEventListener('submit', function (event) {
            if (!areFormValuesChanged()) {
                event.preventDefault();
                alert('No changes were made.');
            }
        });

        function enableFormFields() {
            console.log("Form fields enabled."); // Debug statement
            for (let i = 0; i < formElements.length; i++) {
                formElements[i].disabled = false;
            }
            editButton.style.display = 'none';
            cancelButton.style.display = 'block'
            saveButton.style.display = 'block';
            areaDropdown.disabled = false;
            deleteButton.style.display = 'block'; // Show the delete form
        }

        function disableFormFields() {
            console.log("Form fields disabled."); // Debug statement
            for (let i = 0; i < formElements.length; i++) {
                formElements[i].disabled = true;
            }
            editButton.style.display = 'block';
            cancelButton.style.display = 'none';
            saveButton.style.display = 'none';
            areaDropdown.disabled = true;
            deleteButton.style.display = 'none'; // Show the delete form
        }

        function areFormValuesChanged() {
            console.log("Checking form values."); // Debug statement
            for (let i = 0; i < formElements.length; i++) {
                const element = formElements[i];
                if (!element.disabled && element.value !== initialFormValues[element.name]) {
                    return true;
                }
            }
            return false;
        }

        // Set the selected value of the area dropdown
        const selectedArea = "{{ property.area }}";
        if (selectedArea) {
            const option = areaDropdown.querySelector(`[value="${selectedArea}"]`);
            if (option) {
                option.selected = true;
            }
        }


        // Set the selected value of the dropdows
        const propertyCategory = "{{ property.prop_category }}";
        const propertyType = "{{ property.prop_type }}";
        console.log('Property Type:', propertyType)
        console.log('Property Category:', propertyCategory)
        if (propertyCategory) {
            const option = typeDropdown.querySelector(`[value="{propertyType}"]`);
            if (option) {
                option.selected = true;
            }
        }

        if (propertyCategory) {
            const option = categoryDropdown.querySelector(`[value="{propertyCategory}"]`);
            if (option) {
                option.selected = true;
            }
        }

    });
</script>

{% endblock %}