<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./static/assets/css/style.css">
    <link rel="shortcut icon" href="./static/assets/images/favicon.ico" />
    <title>{% block title %}Click & Buy - Thank You{% endblock %}</title>
    {% extends "base.html" %}
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper">
              <div class="row w-100 m-0">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                  <div class="card col-lg-4 mx-auto">
                    <div class="card-body px-5 py-5">
                      <h3 class="card-title text-left mb-3">Thank you for registering</h3>
                        <p>Please wait while an admin approves your registration.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>
